.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  /* width: 100%;
  padding-left: 40rem;
  padding-right: 40rem;
  background-image: url("https://wallpaper.dog/large/20414908.jpg"); */
}
